@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: linear-gradient(
      to bottom,
      transparent,
      #ffffff
    )
    #f9fafb;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
